#------- Core dependencies -------
--extra-index-url https://download.pytorch.org/whl/cu12.1
torch==2.3.1

transformers[sentencepiece]>=4.41,<4.42
rich>=13.0.0,<14.0.0
scikit-learn>=1.3,<1.4
overrides>=7.4,<7.9
art==6.2
pprintpp==0.4.0
colorama==0.4.6
termcolor==2.4.0
spacy>=3.7,<3.8
typer>=0.12,<0.13
hydra-core

lightning>=2.0,<2.1
